.header {
    background-color: #ffffff;
    margin: 0auto;
}

.main-nav {
    &__toggle {
        border: none;
        background-color: #ffffff;
        cursor: pointer;
        padding: 0;
    }
    &__wrapper {
        text-transform: uppercase;
        text-align: center;
    }
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.site-list {
    &__item {
        padding-bottom: 25px;
        padding-top: 25px;
        padding-left: 0;
        border-top: 1px solid #e6e6e6;
        a {
            text-decoration: none;
            color: #111111;
        }
    }
}