.logo {
    display: block;
    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.6;
    }
    &__text {
        padding-top: 30px;
        padding-bottom: 30px;
        display: block;
        margin: 0 auto;
    }
}