 .main {
     background-color: #ffffff;
 }
 
 .program-selection {
     background: url("../img/index-background-mobile@1x.jpg") no-repeat;
     width: 320px;
     height: 305px;
     color: #ffffff;
     text-align: center;
     padding-bottom: 175px;
     position: relative;
     &__header {
         font-size: 36px;
         line-height: 36px;
         font-weight: 400;
         margin: auto 20px auto 20px;
         padding-top: 30px;
     }
     &__description {
         text-transform: uppercase;
         font-size: 14px;
         line-height: 14px;
         margin-top: 20px;
     }
     &__button {
         text-decoration: none;
         text-transform: uppercase;
         font-size: 14px;
         line-height: 18px;
         color: #ffffff;
         background-color: #68b738;
         display: block;
         margin-top: 300px;
         margin-left: 20px;
         margin-right: 20px;
         padding: 11px 0 11px 0;
     }
     &__img {
         position: absolute;
         background-image: url("../img/index-can-mobile@1x.png");
         background-position: center;
         background-repeat: no-repeat;
         width: 100%;
         min-height: 273px;
         top: 160px;
         left: 0;
     }
 }
 
 .program-type {
     margin-right: 20px;
     margin-left: 20px;
     padding-bottom: 23px;
     /*сделать отступ снизу иначе*/
     &__item {
         background-color: #f2f2f2;
         padding-bottom: 21px;
     }
 }
 
 .item-type {
     &__header {
         text-transform: uppercase;
         font-size: 24px;
         font-weight: 400;
         padding-top: 40px;
         padding-left: 85px;
         color: #111111;
         margin-bottom: 20px;
     }
     &__header--lose {
         position: relative;
         &::before {
             content: "";
             position: absolute;
             background: url("../img/icon-cat-slim.svg") no-repeat;
             height: 53px;
             width: 53px;
             left: 25px;
             top: 35px;
             z-index: 1;
         }
         &::after {
             content: "";
             position: absolute;
             background-color: #68b738;
             height: 50px;
             width: 50px;
             left: 20px;
             border-radius: 50%;
         }
     }
     &__header--gain {
         position: relative;
         &::before {
             content: "";
             position: absolute;
             background: url("../img/icon-cat-pro.svg") no-repeat;
             height: 57px;
             width: 57px;
             left: 15px;
             top: 55px;
             z-index: 1;
         }
         &::after {
             content: "";
             position: absolute;
             background-color: #68b738;
             height: 50px;
             width: 50px;
             left: 20px;
             border-radius: 50%;
         }
     }
     &__description {
         margin-right: 20px;
         margin-left: 20px;
         padding-bottom: 23px;
         font-family: "Arial", sans-serif;
         color: #737373;
         border-bottom: 1px solid #d9d9d9;
         font-size: 14px;
     }
     &__details {
         text-decoration: none;
         color: #111111;
         margin-left: 20px;
         margin-bottom: 23px;
         position: relative;
         &::after {
             content: "";
             position: absolute;
             background-image: url("../img/icon-right-arrow-long.svg");
             width: 24px;
             height: 11px;
             top: 8px;
             left: 90px;
         }
     }
 }
 
 .instruction {
     margin-left: 20px;
     &__header {
         font-size: 36px;
         font-weight: 400;
         font-family: "Arial", sans-serif;
     }
     &__list {
         list-style: none;
         font-family: "Arial", sans-serif;
         font-size: 14px;
         margin-right: 20px;
         padding-left: 80px;
     }
 }
 
 .advantage {
     position: relative;
     &__item {
         margin-bottom: 25px;
         &::before {
             content: "";
             position: absolute;
             background-color: #68b738;
             width: 60px;
             height: 60px;
             left: 0;
         }
         &--organic {
             &::after {
                 content: "";
                 position: absolute;
                 background: url("../img/advantage-leaf@1x.png") no-repeat;
                 width: 60px;
                 height: 60px;
                 top: 5px;
                 left: 5px;
                 z-index: 1;
             }
         }
         &--powder {
             &::after {
                 content: "";
                 position: absolute;
                 background: url("../img/advantage-powder@1x.png") no-repeat;
                 width: 60px;
                 height: 60px;
                 top: 80px;
                 left: 5px;
                 z-index: 1;
             }
         }
         &--dining {
             &::after {
                 content: "";
                 position: absolute;
                 background: url("../img/advantage-dining@1x.png") no-repeat;
                 width: 60px;
                 height: 60px;
                 top: 150px;
                 left: 5px;
                 z-index: 1;
             }
         }
         &--time {
             &::after {
                 content: "";
                 position: absolute;
                 background: url("../img/advantage-clock@1x.png") no-repeat;
                 width: 60px;
                 height: 60px;
                 top: 220px;
                 left: 5px;
                 z-index: 1;
             }
         }
     }
 }