.program-type {
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 23px;
  /*сделать отступ снизу иначе*/
  &__item {
    background-color: #f2f2f2;
    padding-bottom: 21px;
    width: 320px;
  }
}

.item-type {
  &__header {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    padding-top: 40px;
    padding-left: 85px;
    color: #111111;
    margin-bottom: 20px;
  }

  &__header--lose {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: url("../img/icon-cat-slim.svg") no-repeat;
      height: 53px;
      width: 53px;
      left: 25px;
      top: 35px;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: #68b738;
      height: 50px;
      width: 50px;
      left: 20px;
      border-radius: 50%;
    }
  }

  &__header--gain {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: url("../img/icon-cat-pro.svg") no-repeat;
      height: 57px;
      width: 57px;
      left: 15px;
      top: 55px;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: #68b738;
      height: 50px;
      width: 50px;
      left: 20px;
      border-radius: 50%;
    }
  }

  &__description {
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 23px;
    font-family: "Arial", sans-serif;
    color: #737373;
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
  }

  &__details {
    text-decoration: none;
    color: #111111;
    margin-left: 20px;
    margin-bottom: 23px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/icon-right-arrow-long.svg");
      width: 24px;
      height: 11px;
      top: 8px;
      left: 90px;
    }
  }
}

@media (min-width: $tablet-width) {
  .program-type {
    width: 709px;
    margin: 0 auto;
    &__item {
      width: 709px;
    }
  }
  .item-type {
    position: relative;
    &__description {
      border-bottom: none;
      padding-left: 54px;
      margin: 0;
      max-width: 385px;
    }
    &__header {
      padding-top: 80px;
    }
    &__details {
      padding-bottom: 60px;
    }
    &:nth-child(1) {
      &::after {
        content: "";
        position: absolute;
        background: url(../img/icon-cat-slim.svg) no-repeat;
        top: 120px;
        transform: translateY(-50%);
        right: 90px;
        height: 194px;
        width: 140px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      height: 200px;
      width: 200px;
      background-color: #68b738;
      top: 50%;
      transform: translateY(-50%);
      right: 60px;
      border-radius: 50%;
    }
    &:nth-child(2) {
      &::after {
        content: "";
        position: absolute;
        background: url(../img/icon-cat-pro.svg) no-repeat;
        top: 60px;
        right: 30px;
        height: 113px;
        width: 269px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .program-type {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
    box-sizing: border-box;
    position: relative;
    &__item {
      width: 570px;
    }
    .item-type {
      position: relative;
      &__header {
        padding-left: 160px;
        margin-bottom: 50px;
      }
      &__details {
        margin-left: 54px;
      }
    }
  }
}
