.site-list {
  &__item {
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 0;
    border-top: 1px solid #e6e6e6;
    list-style-type: none;
    text-decoration: none;

    a {
      text-decoration: none;
      color: #111111;
    }
  }
}

.main-nav {
  position: relative;

  &__close-button {
    background-color: #ffffff;
    border: none;
    position: absolute;
    right: 15px;
    top: -65px;
  }

  &__toggle {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    padding: 0;
  }

  &__wrapper {
    text-transform: uppercase;
    text-align: center;
  }

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}

.main-nav--closed .site-list__item {
  display: none;
}

.main-nav ul {
  padding: 0;
}

/*TABLET*/

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    &__item {
      border-top: none;
      padding-bottom: 12px;
      &:first-child {
        border-bottom: 2px solid #68b738;
      }
    }

    &__item {
      color: red;
    }
  }
}
