.choose-programm {
  width: 320px;
  margin: 0 auto;
}
.programm {
  margin-bottom: 35px;
  &__header {
    font-size: 36px;
    font-weight: 400;
  }
  &__intro {
    font-size: 14px;
    text-transform: uppercase;
  }
  &__form {
    font-size: 16px;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .choose-programm {
    width: 709px;
    margin: 0 auto;
  }
  .programm {
    &__header {
      font-size: 60px;
    }
    &__intro {
      font-size: 20px;
    }
    &__form {
      width: 709px;
      margin: 0 auto;
      font-size: 20px;
    }
  }
}
