// .choose-programm {
//   width: 280px;
//   margin: 0 auto;
// }
.programm {
  margin-bottom: 35px;
  width: 280px;
  margin: 0 auto;
  &__header {
    font-size: 36px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 41px;
  }
  &__intro {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 50px;
  }
}

@media (min-width: $tablet-width) {
  .programm {
    width: 709px;
    margin: 0 auto;
    &__header {
      font-size: 60px;
      margin-top: 62px;
    }
    &__intro {
      font-size: 20px;
      margin-left: 40px;
      width: 335px;
      margin-top: 76px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programm {
    width: 1220px;
    margin: 0 auto;
    &__header {
      font-size: 60px;
    }
    &__intro {
      font-size: 20px;
      width: 330px;
      margin-left: 0;
    }
  }
}
