body {
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0 auto;
}

.visually-hidden {
  display: none;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

html {
  overflow-x: hidden;
}
