.contacts {
  position: relative;
  align-items: center;
  &__details {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin: 30px auto 30px auto;

    &--text {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 20px;
    }
    &--address {
      font-size: 14px;
      line-height: 20px;
      font-family: "Arial", sans-serif;
    }
  }
  iframe {
    width: 100%;
    margin: 0 auto;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    &__details {
      width: 709px;
      display: flex;
      justify-content: space-between;
      &--text {
        width: 25%;
        margin-left: 40px;
      }
      &--address {
        width: 20%;
        text-align: right;
        margin-right: 40px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    &__details {
      width: 570px;
      background-color: #ffffff;
      position: absolute;
      top: 30%;
      &--text {
        width: 30%;
        font-size: 20px;
        line-height: 25px;
      }
      &--address {
        width: 40%;
        text-align: left;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
