.footer {
  margin: 0 auto;
  background-color: #f2f2f2;
}

.footer-wrapper {
  margin-bottom: 50px;
  width: 280px;
  margin: 0 auto;

  &__academy {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__social {
    padding: 20px 86px 16px 73px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    margin: 0 auto;
  }
  .footer-wrapper {
    width: 709px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    background-color: #f2f2f2;
    width: auto;
  }
  .footer-wrapper {
    width: 1220px;
    box-sizing: border-box;
    &__social {
      padding-left: 131px;
    }
  }
  .academy {
    &__link {
      font-family: Arial, Helvetica, sans-serif;
      margin-right: 12px;
      margin-top: 9px;
    }
    &__icon {
      width: 37px;
      height: 44px;
      margin-top: -4px;
    }
  }
}
