.header {
  background-color: #ffffff;
  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

/*TABLET*/

@media (min-width: $tablet-width) {
  .wrapper-header {
    width: 709px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .header {
    width: 1300px;
    padding-right: 40px;
    padding-left: 40px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}
