.instruction {
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -17px;

  &__header {
    font-size: 36px;
    font-weight: 400;
    font-family: "Oswald";
    margin-bottom: 34px;
    margin-top: 10px;
  }

  &__list {
    list-style: none;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    padding-left: 80px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.advantage {
  position: relative;

  &__item {
    margin-bottom: 32px;

    &::before {
      content: "";
      position: absolute;
      background-color: #68b738;
      width: 60px;
      height: 60px;
      left: 0;
    }

    &--organic {
      &::after {
        content: "";
        position: absolute;
        background: url("../img/advantage-leaf@1x.png") no-repeat;
        width: 60px;
        height: 60px;
        top: 5px;
        left: 5px;
        z-index: 1;
      }
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        &::after {
          background: url("../img/advantage-leaf@2x.png") no-repeat;
          background-size: 60px 60px;
          background-position: -3px -3px;
        }
      }
    }

    &--powder {
      &::after {
        content: "";
        position: absolute;
        background: url("../img/advantage-powder@1x.png") no-repeat;
        width: 60px;
        height: 60px;
        top: 84px;
        left: 5px;
        z-index: 1;
      }
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        &::after {
          background: url("../img/advantage-powder@2x.png") no-repeat;
          background-size: 60px 60px;
          background-position: -3px -3px;
        }
      }
    }

    &--dining {
      &::after {
        content: "";
        position: absolute;
        background: url("../img/advantage-dining@1x.png") no-repeat;
        width: 60px;
        height: 60px;
        top: 164px;
        left: 4px;
        z-index: 1;
      }
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        &::after {
          background: url("../img/advantage-dining@2x.png") no-repeat;
          background-size: 60px 60px;
          background-position: -3px -3px;
        }
      }
    }

    &--time {
      &::after {
        content: "";
        position: absolute;
        background: url("../img/advantage-clock@1x.png") no-repeat;
        width: 60px;
        height: 60px;
        top: 244px;
        left: 5px;
        z-index: 1;
      }
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        &::after {
          background: url("../img/advantage-clock@2x.png") no-repeat;
          background-size: 60px 60px;
          background-position: -3px -3px;
        }
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .instruction {
    width: 709px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
    &__header {
      font-size: 60px;
      font-family: "Oswald";
      margin-top: 30px;
      margin-bottom: 58px;
    }
  }
  .advantage {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-between;

    &__item {
      width: 325px;
      height: 50px;
      font-size: 16px;
      line-height: 24px;
      padding-top: 112px;
      padding-bottom: 70px;
      margin-bottom: 84px;
      position: relative;
      p {
        padding-right: 80px;
        margin-top: -2px;
      }
      &::before {
        content: "";
        position: absolute;
        background-color: #68b738;
        width: 80px;
        height: 80px;
        top: -2px;
      }
      &--organic {
        &::after {
          content: "";
          position: absolute;
          background: url("../img/advantage-leaf@1x.png") no-repeat;
          background-size: 80px 80px;
          top: 0;
          left: 0;
        }
        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          &::after {
            background: url("../img/advantage-leaf@2x.png") no-repeat;
            background-size: 54px 54px;
            background-position: 12px 9px;
          }
        }
      }
      &--powder {
        &::after {
          content: "";
          position: absolute;
          background: url("../img/advantage-powder@1x.png") no-repeat;
          background-size: 80px 80px;
          background-position: -13px -13px;
          top: 15px;
          left: 15px;
        }
        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          &::after {
            background: url("../img/advantage-powder@2x.png") no-repeat;
            background-size: 54px 54px;
            background-position: -2px -5px;
          }
        }
      }

      &--dining {
        &::after {
          content: "";
          position: absolute;
          background: url("../img/advantage-dining@1x.png") no-repeat;
          background-size: 80px 80px;
          background-position: -13px -13px;
          top: 15px;
          left: 15px;
        }
        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          &::after {
            background: url("../img/advantage-dining@2x.png") no-repeat;
            background-size: 54px 54px;
            background-position: -2px -1px;
          }
        }
      }
      &--time {
        &::after {
          content: "";
          position: absolute;
          background: url("../img/advantage-clock@1x.png") no-repeat;
          background-size: 80px 80px;
          background-position: -13px -13px;
          top: 15px;
          left: 15px;
        }
        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          &::after {
            background: url("../img/advantage-clock@2x.png") no-repeat;
            background-size: 54px 54px;
            background-position: -2px -1px;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .instruction {
    width: 1220px;
    margin: 0 auto;
    &__header {
      margin-bottom: 56px;
      margin-top: 55px;
    }
  }
  .advantage {
    &__item {
      width: 23%;
      margin-right: -36px;
    }
  }
}
