.main {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-wrapper {
    width: 709px;
    margin: 0 auto;
  }
  .main {
    width: 709px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-wrapper {
    width: auto;
    margin: 0 auto;
  }
  .main {
    width: 1220px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      // background-image: url("../img/index-background-desktop@1x.jpg");
      top: -80px;
      right: -110px;
      width: 720px;
      height: 696px;
    }
  }
}
