.main-nav {
  position: relative;

  &__close-button {
    background-color: #ffffff;
    border: none;
    position: absolute;
    right: 18px;
    top: -65px;
  }

  &__toggle {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    padding: 0;
  }

  &__wrapper {
    text-transform: uppercase;
    text-align: center;
  }

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}

.main-nav--closed .site-list__item {
  display: none;
}

.main-nav ul {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 450px;
    &__toggle {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    left: -30px;
  }
}
