.program-selection {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  background-size: 320px auto;
  height: 305px;
  width: 320px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 199px;
  position: relative;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/index-background-mobile@2x.jpg") no-repeat;
    background-size: 320px auto;
  }

  &__header {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin: -6px 20px -11px 20px;
    padding-top: 30px;
    width: 280px;
  }

  &__description {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    margin-top: 35px;
    margin-left: 19px;
    width: 280px;
  }

  &__button {
    padding: 9px 0;
    background-color: #68b738;
    color: #ffffff;
    position: absolute;
    width: 280px;
    margin: 286px 20px 20px 20px;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      color: #99c684;
    }
  }

  &__img {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    width: 85%;
    min-height: 273px;
    top: 167px;
    left: 26px;
  }
}

@media (min-width: $tablet-width) {
  .program-selection {
    width: 709px;
    min-height: 810px;
    position: relative;
    background-image: none;
    padding-bottom: 0;
    margin-bottom: 0;
    &__img {
      top: 200px;
      left: 0;
      width: 100%;
    }
    &__pic {
      width: 709px;
      height: 609px;
    }
    &__header {
      min-width: 425px;
      color: #111111;
      text-align: left;
      font-size: 60px;
      margin-left: 90px;
      padding-top: 0;
      margin-top: 45px;
      line-height: 60px;
    }
    &__description {
      color: #111111;
      text-align: left;
      margin-left: 90px;
      margin-top: 51px;
      font-size: 20px;
      line-height: 20px;
      min-width: 320px;
    }
    &__button {
      position: absolute;
      margin-left: 0;
      top: -60px;
      left: 0;
      z-index: 1;
      width: 244px;
      margin-left: 90px;
      font-size: 20px;
      line-height: 20px;
      padding-top: 15px;
      padding-bottom: 17px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program-selection {
    width: 1220px;
    margin: 0 auto;
    position: relative;
    min-height: 574px;
    margin-top: -54px;
    margin-bottom: 80px;
    &__header {
      padding-top: 100px;
      margin-left: 80px;
    }
    &__description {
      margin-top: 50px;
      margin-left: 80px;
    }
    &__button {
      margin-top: 395px;
      margin-left: 80px;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 50vw;
      left: 50%;
      top: -123px;
      bottom: 0;
      background: #64a83b url("../img/index-background-desktop@1x.jpg") no-repeat top right;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: #64a83b url("../img/index-background-desktop@2x.jpg") no-repeat top right;
      }
    }
    &__img {
      width: 552px;
      height: 499px;
      margin-left: 450px;
      margin-top: -180px;
    }
  }
  @media (min-resolution: 1.5dppx) {
    .program-selection {
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 50vw;
        left: 50%;
        top: -123px;
        bottom: 0;
        background: #64a83b url("../img/index-background-desktop@2x.jpg") no-repeat top right;
        background-size: cover;
      }
    }
  }
}
