.site-list {
  &__item {
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 0;
    border-top: 1px solid #e6e6e6;
    list-style-type: none;
    text-decoration: none;

    a {
      text-decoration: none;
      color: #111111;
      &:hover {
        color: #919191;
      }
      &:active {
        color: #cccccc;
      }
    }
  }
}

/*TABLET*/

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    font-size: 18px;
    &__item {
      line-height: 24px;
      border-top: none;
      padding-bottom: 12px;
      &:first-child {
        border-bottom: 2px solid #68b738;
        margin-right: -4px;
      }
    }
    &--catalog {
      & a {
        color: #111111;
        font-size: 20px;
      }
      &:nth-child(2) {
        border-bottom: 2px solid #68b738;
      }
      &:first-child {
        border-bottom: none;
      }
    }
    &--form {
      &:first-child {
        border-bottom: none;
      }
      &:nth-child(3) {
        border-bottom: 2px solid #68b738;
      }
    }
    // &__item {
    //   color: red;
    // }
  }
}

// DESkTOP

@media (min-width: $desktop-width) {
  .site-list {
    &__item {
      font-size: 20px;
      line-height: 24px;
      &:first-child {
        border-bottom: 2px solid #ffffff;
      }
      a {
        color: #ffffff;

        &:hover {
          color: #cbe0c1;
        }
        &:active {
          color: #9ec689;
        }
      }
    }
    &--form {
      &:first-child {
        border-bottom: none;
      }
      &:nth-child(3) {
        border-bottom: 2px solid #68b738;
      }
      a {
        color: #111111;
      }
    }
  }

  // CATALOG

  .site-list {
    &--catalog {
      & a {
        color: #111111;
        font-size: 20px;
        &:hover {
          color: #919191;
        }
        &:active {
          color: #cccccc;
        }
      }
      &:nth-child(2) {
        border-bottom: 2px solid #68b738;
      }
    }
  }
}
