@import "variables";
@import "logo";
@import "header";
@import "main";
@import "main-nav";
@import "footer";
@import "catalog-main";
@import "instruction";
@import "program-type";
@import "program-selection";
@import "social";
@import "academy";
@import "site-list";

body {
  font-family: "Oswald", sans-serif;
  margin: 0 auto;
}

.visually-hidden {
  display: none;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  display: block;
  text-align: center;
}

@media (min-width: $mobile-width) {
  .main-wrapper {
    // max-width: 320px;
    margin: 0 auto;
  }
}
